__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env
.env.local

# Database / Storage
*.sqlite3
*.db

# IDEs
.vscode/
.idea/
*.swp

# Alembic compiled scripts
alembic/versions/*.pyc
